<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="robot1" />
  <arg name="robot_params" default="$(find alliance_test)/config/$(arg robot_id)_alliance_params.yaml" />
  <arg name="tasks_params" default="$(find alliance_test)/config/tasks_alliance_params.yaml" />
  <arg name="layers_params" default="$(find alliance_test)/config/layers_alliance_params.yaml" />
  <arg name="rosaria_params" default="$(find alliance_test)/config/$(arg robot_id)_rosaria_params.yaml" />
  <include file="$(find alliance)/launch/alliance.launch">
    <arg name="robot_id" value="$(arg robot_id)" />
    <arg name="robot_params" value="$(arg robot_params)" />
    <arg name="tasks_params" value="$(arg tasks_params)" />
    <arg name="layers_params" value="$(arg layers_params)" />
  </include>
  <group ns="$(arg robot_id)">
    <node name="RosAria" pkg="rosaria" type="RosAria" output="screen">
      <rosparam file="$(arg rosaria_params)" command="load" />
      <remap from="~sonar" to="/$(arg robot_id)/sonar" />
      <remap from="~pose" to="/$(arg robot_id)/odom" />
      <remap from="~cmd_vel" to="/$(arg robot_id)/cmd_vel" />
    </node>
  </group>
</launch>
